# Default ignored files
shelf/
codeStyles/

caches/
inspectionProfiles/
libraries/
modules/

workspace.xml
deploymentTargetDropDown.xml
gradle.xml
runConfigurations.xml
SusGameFrontend.iml
deploymentTargetSelector.xml
misc.xml
modules.xml
