# Default ignored files
shelf/
codeStyles/

caches/
inspectionProfiles/
libraries/
modules/

compiler.xml
deploymentTargetSelector.xml
deploymentTargetDropDown.xml
gradle.xml
runConfigurations.xml
misc.xml
workspace.xml
modules.xml

SusGameFrontend.iml
